@model IEnumerable<TEST_CommonCalendar.Models.mErrorHandling>

@{
    ViewData["Title"] = "Error Management";
}

<h1>Error Management</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.s_ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.s_FunctionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.s_ExceptionText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.d_OccurTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderByDescending(s => s.d_OccurTime)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.s_ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.s_FunctionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.s_ExceptionText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.d_OccurTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.k_ErrorID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.k_ErrorID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.k_ErrorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
